/target/
/.settings
.classpath
.project

/service-discovery/.settings
/service-discovery/target
/service-discovery/.classpath
/service-discovery/.project

/service-hello/.settings
/service-hello/target
/service-hello/.classpath
/service-hello/.project

/consumer-hello/.settings
/consumer-hello/target
/consumer-hello/.classpath
/consumer-hello/.project

/mall-web/.settings
/mall-web/target
/mall-web/.classpath
/mall-web/.project

/product-service/.settings
/product-service/target
/product-service/.classpath
/product-service/.project

/hystrix-dashboard/.settings
/hystrix-dashboard/target
/hystrix-dashboard/.classpath
/hystrix-dashboard/.project

/zuul-server/.settings
/zuul-server/target
/zuul-server/.classpath
/zuul-server/.project

/user-service/.settings
/user-service/target
/user-service/.classpath
/user-service/.project